//
//  Debug.xcconfig
//  CICD_Example
//
//  Created by Lê Anh Tuấn on 20/04/2023.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

APP_NAME = CICD (dev)
APP_VERSION = 0.1
APP_BUNDLE_ID = tuanla.test.dev
APP_ICON = AppIcon_Dev
